body {
  font-family: sans-serif;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box > * {
  border: 2px solid rgb(121, 53, 145);
  border-radius: 5px;
  background-color: rgba(116, 149, 171, 0.2);
  padding: 1em;
}

.box2 {
  display: flex;
  justify-content: space-evenly;
}

.box2 > * {
  border: 2px solid rgb(121, 53, 145);
  border-radius: 5px;
  background-color: rgba(116, 149, 171, 0.2);
  padding: 1em;
}
